* word based representations
* model based representations
* variable length representations (Bi-LSTM)
* ULMFit
* BERT..

# Data

In [1]:
import time
import string 
import pickle
import itertools
import numpy as np
import pandas as pd
from pprint import pprint

import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

# from nltk.corpus import stopwords
from sklearn.linear_model import SGDClassifier, SGDRegressor, LogisticRegression, LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR

from tqdm.notebook import tqdm
from nltk.tokenize import RegexpTokenizer
from gensim.models import KeyedVectors

In [2]:
import random

print ("Random number with seed 42")
random.seed(42)

Random number with seed 42

In [3]:
# df_st = pd.read_csv('me_2020/short_term_annotations_v2.csv', )
# df_lt = pd.read_csv('me_2020/long_term_annotations_v2.csv', )
df_text = pd.read_csv('me_2020/official_video_descriptions.csv', )
df_scores = pd.read_csv('me_2020/scores_v2.csv', )

In [4]:
len(df_text)

2191

In [5]:
# df_text.tail(8)

In [6]:
# df_scores.tail()

In [7]:
text_concat = df_text[['video_id','description']].groupby(['video_id'])['description'].transform(lambda x: '  '.join(x)).drop_duplicates()

In [8]:
len(text_concat)

590

In [9]:
deep_captions = [ l[8:].strip() for l in open('me_2020/deep_captions.txt')]
deep_captions[588]

'a man is sitting on a toilet and drinking from a water bottle'

In [10]:
df_data = df_scores.copy()
df_data['text'] = text_concat.values
df_data['short_term'] = df_data['part_1_scores']
df_data['long_term'] = df_data['part_2_scores']
df_data['deep_caption'] = deep_captions[:590]
df_data = df_data[['video_id', 'text', 'deep_caption', 'short_term', 'long_term']]

In [11]:
df_data.head(30)

,video_id,text,deep_caption,short_term,long_term
0,8,2 men on a stage hug and walk away two young ...,a man is dancing on stage with a band,0.75,0.57
1,26,deadpool drinking from a cup persons in costu...,a woman is sitting on a couch and talking,0.87,0.43
2,33,a soccer player shoots a ball into a tiny goal...,a soccer player is kicking a ball into the net,0.69,0.75
3,46,multiple chinese persons dance onstage on a p...,a band is performing on stage and the singer s...,0.87,0.57
4,64,an asian man in a clothing store embraces an o...,a man in a suit is dancing and singing,0.84,0.56
5,70,"at night, two women walks next to the children...",a group of men are dancing and singing,0.74,1.00
6,74,3 women spinning in circles 3 women change th...,a group of girls are dancing in a room,0.91,1.00
7,117,person throws a chain of lights indoors a per...,a man is singing and dancing in a room,0.89,0.90
8,139,2 asian men in a park at daytime hold each oth...,a man is dancing with a group of other men,0.82,0.80
9,143,a man plays a violin indoors inside a room a ...,a man is playing a guitar and singing into a m...,0.81,0.86
10,148,a chinese man looks to the face of a dog and m...,a young boy is looking at a computer,0.73,0.86
11,160,an asian woman on a stage does the robot dance...,a woman is dancing with a man,0.82,0.43
12,165,"in the daytime, 3 persons turn and dance in an...",a group of people are dancing in a room,0.88,0.80
13,171,"in the daytime at sunset, sea waves move to th...",a group of people are watching a sunset,0.82,0.67
14,172,a woman says something on a couch a blond wom...,a woman with long hair is smiling and talking,0.87,0.83
15,188,a white man on a street in summer runs with le...,a man is riding a skateboard and doing a jump,0.83,0.71
16,216,two women fight with hands and legs at home. o...,a man is dancing in a room with a lot of other...,0.85,0.83
17,220,2 women talk with each other indoors 2 women ...,a woman is looking at something and smiling,0.91,1.00
18,225,an african man sings at home african man in b...,a man wearing a hat is talking to someone,0.72,0.67
19,227,a dog wiggles his bottom in a room dog shakin...,a dog is playing with a toy,0.92,0.83
20,241,a man lying on the floor a man laying on his ...,a man is dancing in a room with a lot of other...,0.88,0.71
21,246,a person holding a phone to the ear a man in ...,a woman is talking on a cell phone,0.96,1.00
22,250,an asian man cries indoors an asian boy shows...,a man is sitting on a bed and smiling,0.78,0.83
23,261,man laughs in a bathroom man stands in bathroom,a shirtless man is putting his hands on his head,1.00,0.89
24,271,3 men are chasing each other outdoors a man r...,a man is dancing in a room with other people,0.85,0.63
25,276,"a child sleeps on a bed. then, he wakes up sud...",a baby is laying down and looking at something,0.78,0.71
26,279,a person is holding food with chopsticks a ma...,a group of boys are dancing and singing,0.80,0.43
27,280,a soccer player is scoring a goal on a soccer ...,a soccer player kicks the ball into the goal,0.80,0.71
28,305,a man opens his mouth a man opens and closes ...,a man wearing a hat is smiling and talking,0.95,0.38
29,309,"in the daytime, a horse walks in a court in a...",a horse is running through a field,0.76,0.71

In [12]:
df_data.to_csv('me2020_data.csv')

# Feature extraction

In [13]:
from nltk.stem import WordNetLemmatizer 

# Init the Wordnet Lemmatizer
lemmatizer = WordNetLemmatizer()

In [14]:
lemmatizer.lemmatize('throws')

'throw'

In [15]:
# w2v = KeyedVectors.load_word2vec_format('../conceptnet/glove.6B/glove.w2v.6B.300d.txt')
# pickle.dump(w2v, open('../conceptnet/glove.6B/glove.w2v.6B.300d.pickle', 'wb'))

In [16]:
# text_concat = df_text[['video_id','description']].groupby(['video_id'])['description'].transform(lambda x: '  '.join(x)).drop_duplicates()

In [17]:
w2v = pickle.load(open('../conceptnet/glove.6B/glove.w2v.6B.300d.pickle', 'rb'))

In [18]:
stopwords = ["a", "about", "above", "after", "again", "against", "ain", "all", "am", "an", "and", "any", "are", "aren", "aren't", "as", "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "can", "couldn", "couldn't", "d", "did", "didn", "didn't", "do", "does", "doesn", "doesn't", "doing", "don", "don't", "down", "during", "each", "few", "for", "from", "further", "had", "hadn", "hadn't", "has", "hasn", "hasn't", "have", "haven", "haven't", "having", "he", "her", "here", "hers", "herself", "him", "himself", "his", "how", "i", "if", "in", "into", "is", "isn", "isn't", "it", "it's", "its", "itself", "just", "ll", "m", "ma", "me", "mightn", "mightn't", "more", "most", "mustn", "mustn't", "my", "myself", "needn", "needn't", "no", "nor", "not", "now", "o", "of", "off", "on", "once", "only", "or", "other", "our", "ours", "ourselves", "out", "over", "own", "re", "s", "same", "shan", "shan't", "she", "she's", "should", "should've", "shouldn", "shouldn't", "so", "some", "such", "t", "than", "that", "that'll", "the", "their", "theirs", "them", "themselves", "then", "there", "these", "they", "this", "those", "through", "to", "too", "under", "until", "up", "ve", "very", "was", "wasn", "wasn't", "we", "were", "weren", "weren't", "what", "when", "where", "which", "while", "who", "whom", "why", "will", "with", "won", "won't", "wouldn", "wouldn't", "y", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves", "could", "he'd", "he'll", "he's", "here's", "how's", "i'd", "i'll", "i'm", "i've", "let's", "ought", "she'd", "she'll", "that's", "there's", "they'd", "they'll", "they're", "they've", "we'd", "we'll", "we're", "we've", "what's", "when's", "where's", "who's", "why's", "would"]

def tokenize(s):
    numbers = {'2': 'two', '3': 'three', '4': 'four'}
    s = ''.join(c for c in s if c not in string.punctuation or c == ' ').lower()
    t = RegexpTokenizer(r'\w+').tokenize(s)
    t = [lemmatizer.lemmatize(w) if w not in numbers else numbers[w] for w in t if w not in stopwords]
    return ' '.join(t)

def tokenize2(s): # keep stopwords and don't lemmatize
    numbers = {'2': 'two', '3': 'three', '4': 'four'}
    s = ''.join(c for c in s if c not in string.punctuation or c == ' ').lower()
    t = RegexpTokenizer(r'\w+').tokenize(s)
    t = [w if w not in numbers else numbers[w] for w in t]
    return ' '.join(t)

def tokenize3(s): # remove duplicates
    numbers = {'2': 'two', '3': 'three', '4': 'four'}
    s = ''.join(c for c in s if c not in string.punctuation or c == ' ').lower()
    t = RegexpTokenizer(r'\w+').tokenize(s)
    t = [w if w not in numbers else numbers[w] for w in t if w not in stopwords]
    return ' '.join(set(t))

In [19]:
df_data = pd.read_csv('me2020_data.csv')

In [20]:
df_data.head()

,Unnamed: 0,video_id,text,deep_caption,short_term,long_term
0,0,8,2 men on a stage hug and walk away two young ...,a man is dancing on stage with a band,0.75,0.57
1,1,26,deadpool drinking from a cup persons in costu...,a woman is sitting on a couch and talking,0.87,0.43
2,2,33,a soccer player shoots a ball into a tiny goal...,a soccer player is kicking a ball into the net,0.69,0.75
3,3,46,multiple chinese persons dance onstage on a p...,a band is performing on stage and the singer s...,0.87,0.57
4,4,64,an asian man in a clothing store embraces an o...,a man in a suit is dancing and singing,0.84,0.56

In [21]:
df_data['content'] = df_data['text'] + '  ' + df_data['deep_caption']

In [29]:
corpus = df_data.text.values
corpus_tokenized = [tokenize3(s) for s in corpus]
corpus_tokenized2 = [tokenize2(s) for s in corpus]
# corpus_tokenized3 = [tokenize3(s) for s in corpus]

In [23]:
vectorizer = TfidfVectorizer(min_df=4, stop_words='english', ngram_range=(1, 2))
vectorizer.fit(corpus_tokenized)

X_train = vectorizer.transform(corpus)

print(X_train.shape)
print(X_train.toarray())

(590, 909)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [24]:
X_tfidf = []
X_w2v   = []
Y = []

for i, entry in tqdm(df_data.iterrows(), total=len(df_data)):
    text = tokenize(entry['text'])
    y = (entry['short_term'], entry['long_term'])
    
    x_tfidf = vectorizer.transform([text]).toarray()[0]
    words = [word for word in text.split(' ') if word in w2v]
    x_w2v = np.zeros([300]) if not words else np.mean([w2v[word] for word in words], axis=0)
    
    X_tfidf.append(x_tfidf)
    X_w2v.append(x_w2v)
    Y.append(y)

HBox(children=(FloatProgress(value=0.0, max=590.0), HTML(value='')))

In [25]:
X_tfidf = np.array(X_tfidf)
X_w2v = np.array(X_w2v)
Y = np.array(Y)

X_tfidf.shape, X_w2v.shape, Y.shape

((590, 909), (590, 300), (590, 2))

In [26]:
# !git clone git@github.com:UKPLab/sentence-transformers.git
# !cd sentence-transformers
# !pip install .

In [27]:
import scipy
import numpy as np
from sentence_transformers import models, SentenceTransformer

# model = SentenceTransformer('distiluse-base-multilingual-cased')
sbert1 = SentenceTransformer('distiluse-base-multilingual-cased')
sbert2 = SentenceTransformer('distilbert-base-nli-stsb-mean-tokens')

WARNING:root:You try to use a model that was created with version 0.3.6, however, your version is 0.3.3. This might cause unexpected behavior or errors. In that case, try to update to the latest version.



/home/ismail/anaconda3/lib/python3.7/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx (Triggered internally at  /pytorch/c10/cuda/CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0

In [30]:
corpus_tokenized2[:3]

['two men on a stage hug and walk away two young man are standing on a stage embracing each other and one claps the other ones ass',
 'deadpool drinking from a cup persons in costumes dance',
 'a soccer player shoots a ball into a tiny goal on a soccer field at daytime soccer ball rolling into a small goal on a soccer field at daytime']

In [31]:
%%time
bert1_embeddings = sbert1.encode(corpus_tokenized2)
bert2_embeddings = sbert2.encode(corpus_tokenized2)

CPU times: user 3min 35s, sys: 1.05 s, total: 3min 36s
Wall time: 58.5 s

In [32]:
bert1_embeddings.shape, bert2_embeddings.shape

((590, 512), (590, 768))

# Models

In [33]:
from sklearn.model_selection import KFold
from scipy.stats import spearmanr
spearman = lambda x,y: spearmanr(x, y).correlation

In [34]:
def enumerate_models(models):
    instances = []
    for model_name, (model, hyperparameters) in models.items():
        configs = {}
        if len(hyperparameters) > 0:
            params, vals = list(hyperparameters.keys()), list(hyperparameters.values())
            configs = [dict(zip(params, vv)) for vv in list(itertools.product(*vals))]
            for config in configs:
                m = model(**config)
                instances.append(m)
        else:
            instances.append(model())
    return instances

In [35]:
regression_models = {
    # 'LogisticRegression': (LogisticRegression, {"C": [1e3, 1, 1e-3], "penalty": ['l1', 'l2', 'elasticnet']}),
    # 'LinearRegression': (LinearRegression, {}),
    #'MLPRegressor': (MLPRegressor, {'alpha': [1e-3,  1e-7], 'hidden_layer_sizes': [(10,), (100,)]}), # 1e-5,, (50,), 
    # 'SGDRegressor': (SGDRegressor, {'alpha': [0.0001, 0.1,]}),
    'SVR': (SVR, {'kernel': ['linear', 'rbf'], "C": [1e-3, 1e-4, 1e-5, 1e-7], "gamma": ["scale"]})
}
len(enumerate_models(regression_models))

8

In [36]:
X = {'w2v':X_w2v}# 'tfidf': X_tfidf, 'w2v':X_w2v, 'bert1': bert1_embeddings, 'bert2': bert2_embeddings}
Y_st = Y[:, 0]
Y_lt = Y[:, 1]

In [37]:
folds = {}
print('Short term memorability prediction:'.upper())

for k in X:
    folds[k] = {}
    print('\nFeatures:', k.upper(), '\n')
    for regressor in enumerate_models(regression_models):
        model_name = str(regressor)
        folds[k][model_name] = []
        kf = KFold(n_splits=6, random_state=42)
        print('Training', model_name, '..')
        for i, (train_index, test_index) in enumerate(kf.split(X[k])):
            print('Fold #'+ str(i), end='.. ')
            t = time.time()
            X_train, X_test = X[k][train_index], X[k][test_index]
            y_train, y_test = Y_st[train_index], Y_st[test_index]
            regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            folds[k][model_name].append((y_pred, y_test))
            print(f'done! ({(time.time() - t):.2} secs). Spearman: {spearman(y_pred, y_test):.2}')
            
            t = time.time()

SHORT TERM MEMORABILITY PREDICTION:

Features: W2V

Training SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.059 secs). Spearman: 0.19
Fold #1.. done! (0.12 secs). Spearman: 0.32
Fold #2.. done! (0.056 secs). Spearman: 0.31
Fold #3.. done! (0.052 secs). Spearman: 0.17
Fold #4.. done! (0.05 secs). Spearman: 0.24
Fold #5.. done! (0.044 secs). Spearman: 0.22
Training SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.044 secs). Spearman: 0.23
Fold #1.. done! (0.042 secs). Spearman: 0.3
Fold #2.. done! (0.043 secs). Spearman: 0.29
Fold #3.. done! (0.043 secs). Spearman: 0.17
Fold #4.. done! (0.041 secs). Spearman: 0.25
Fold #5.. done! (0.042 secs). Spearman: 0.24
Training SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.037 secs). Spearman: 0.24
Fold #1.. done! (0.039 secs). Spearman: 0.31
Fold #2.. done! (0.036 secs). Spearman: 0.29
Fold #3.. done! (0.041 secs). Spearman: 0.17
Fold #4.. done! (0.045 secs). Spearman: 0.26
Fold #5.. done! (0.038 secs). Spearman: 0.23
Training SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.039 secs). Spearman: 0.24
Fold #1.. done! (0.048 secs). Spearman: 0.31
Fold #2.. done! (0.041 secs). Spearman: 0.29
Fold #3.. done! (0.053 secs). Spearman: 0.17
Fold #4.. done! (0.051 secs). Spearman: 0.26
Fold #5.. done! (0.047 secs). Spearman: 0.23
Training SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.054 secs). Spearman: 0.2
Fold #1.. done! (0.05 secs). Spearman: 0.29
Fold #2.. done! (0.046 secs). Spearman: 0.31
Fold #3.. done! (0.041 secs). Spearman: 0.2
Fold #4.. done! (0.04 secs). Spearman: 0.25
Fold #5.. done! (0.039 secs). Spearman: 0.23
Training SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.037 secs). Spearman: 0.2
Fold #1.. done! (0.039 secs). Spearman: 0.29
Fold #2.. done! (0.038 secs). Spearman: 0.31
Fold #3.. done! (0.036 secs). Spearman: 0.2
Fold #4.. done! (0.038 secs). Spearman: 0.26
Fold #5.. done! (0.038 secs). Spearman: 0.24
Training SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.036 secs). Spearman: 0.2
Fold #1.. done! (0.038 secs). Spearman: 0.29
Fold #2.. done! (0.032 secs). Spearman: 0.31
Fold #3.. done! (0.033 secs). Spearman: 0.2
Fold #4.. done! (0.033 secs). Spearman: 0.26
Fold #5.. done! (0.034 secs). Spearman: 0.24
Training SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.034 secs). Spearman: 0.2
Fold #1.. done! (0.042 secs). Spearman: 0.29
Fold #2.. done! (0.034 secs). Spearman: 0.31
Fold #3.. done! (0.054 secs). Spearman: 0.2
Fold #4.. done! (0.056 secs). Spearman: 0.26
Fold #5.. done! (0.039 secs). Spearman: 0.24

In [38]:
folds_lt = {}
print('Long term memorability prediction:'.upper())

for k in X:
    folds_lt[k] = {}
    print('\nFeatures:', k.upper(), '\n')
    for regressor in enumerate_models(regression_models):
        model_name = str(regressor)
        folds_lt[k][model_name] = []
        kf = KFold(n_splits=6, random_state=42)
        print('Training', model_name, '..')
        for i, (train_index, test_index) in enumerate(kf.split(X[k])):
            print('Fold #'+ str(i), end='.. ')
            t = time.time()
            X_train, X_test = X[k][train_index], X[k][test_index]
            y_train, y_test = Y_lt[train_index], Y_lt[test_index]
            regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            folds_lt[k][model_name].append((y_pred, y_test))
            print(f'done! ({(time.time() - t):.2} secs). Spearman: {spearman(y_pred, y_test):.2}')
            
            t = time.time()

LONG TERM MEMORABILITY PREDICTION:

Features: W2V

Training SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.07 secs). Spearman: 0.1
Fold #1.. done! (0.058 secs). Spearman: 0.24
Fold #2.. done! (0.059 secs). Spearman: 0.029
Fold #3.. done! (0.071 secs). Spearman: 0.11
Fold #4.. done! (0.061 secs). Spearman: 0.23
Fold #5.. done! (0.067 secs). Spearman: 0.09
Training SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.072 secs). Spearman: 0.11
Fold #1.. done! (0.061 secs). Spearman: 0.23
Fold #2.. done! (0.062 secs). Spearman: 0.05
Fold #3.. done! (0.064 secs). Spearman: 0.11
Fold #4.. done! (0.063 secs). Spearman: 0.2
Fold #5.. done! (0.059 secs). Spearman: 0.12
Training SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.059 secs). Spearman: 0.11
Fold #1.. done! (0.076 secs). Spearman: 0.23
Fold #2.. done! (0.073 secs). Spearman: 0.05
Fold #3.. done! (0.067 secs). Spearman: 0.11
Fold #4.. done! (0.062 secs). Spearman: 0.2
Fold #5.. done! (0.062 secs). Spearman: 0.12
Training SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.063 secs). Spearman: 0.11
Fold #1.. done! (0.053 secs). Spearman: 0.23
Fold #2.. done! (0.062 secs). Spearman: 0.05
Fold #3.. done! (0.059 secs). Spearman: 0.11
Fold #4.. done! (0.058 secs). Spearman: 0.2
Fold #5.. done! (0.056 secs). Spearman: 0.12
Training SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.063 secs). Spearman: 0.073
Fold #1.. done! (0.056 secs). Spearman: 0.25
Fold #2.. done! (0.066 secs). Spearman: 0.057
Fold #3.. done! (0.059 secs). Spearman: 0.11
Fold #4.. done! (0.077 secs). Spearman: 0.17
Fold #5.. done! (0.081 secs). Spearman: 0.12
Training SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.068 secs). Spearman: 0.073
Fold #1.. done! (0.061 secs). Spearman: 0.25
Fold #2.. done! (0.065 secs). Spearman: 0.057
Fold #3.. done! (0.066 secs). Spearman: 0.11
Fold #4.. done! (0.062 secs). Spearman: 0.17
Fold #5.. done! (0.064 secs). Spearman: 0.12
Training SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.064 secs). Spearman: 0.073
Fold #1.. done! (0.062 secs). Spearman: 0.25
Fold #2.. done! (0.058 secs). Spearman: 0.057
Fold #3.. done! (0.065 secs). Spearman: 0.11
Fold #4.. done! (0.059 secs). Spearman: 0.17
Fold #5.. done! (0.063 secs). Spearman: 0.12
Training SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) ..
Fold #0.. done! (0.058 secs). Spearman: 0.073
Fold #1.. done! (0.06 secs). Spearman: 0.25
Fold #2.. done! (0.095 secs). Spearman: 0.057
Fold #3.. done! (0.099 secs). Spearman: 0.11
Fold #4.. done! (0.089 secs). Spearman: 0.17
Fold #5.. done! (0.069 secs). Spearman: 0.12

In [63]:
X_train[0]

array([-2.19063044e-01,  1.45368934e-01, -8.50737542e-02, -2.10372999e-01,
       -1.34135514e-01,  1.24508686e-01, -6.43252209e-02, -5.17396107e-02,
        9.57071558e-02, -8.63436818e-01,  1.36617497e-01, -5.75112402e-02,
       -2.63032019e-01, -8.97753164e-02,  1.77866668e-01,  6.64938092e-02,
       -2.22639516e-01, -7.07390085e-02,  7.00964555e-02,  8.10312852e-03,
       -1.54150411e-01,  1.43767998e-01,  1.09692194e-01,  1.03234716e-01,
       -5.83458841e-02, -6.36675432e-02,  6.08831942e-02, -9.46811866e-03,
       -3.16653326e-02,  6.22601882e-02,  8.41747504e-04,  6.20156787e-02,
        3.21646854e-02, -5.21318987e-04, -7.99848020e-01,  1.57144621e-01,
        9.71353203e-02,  1.96526255e-02,  1.27128670e-02,  4.96831834e-02,
        1.73308149e-01, -1.20428286e-01, -1.51762381e-01,  1.49401249e-02,
        3.21771875e-02,  2.18385071e-01,  3.08026493e-01,  3.70095596e-02,
       -4.69664782e-02,  2.11752623e-01, -1.14842892e-01, -2.38708079e-01,
       -4.24128771e-03,  9.88318846e-02, -2.44047549e-02,  2.75038719e-01,
       -6.74936473e-02,  2.87893601e-03,  7.40861297e-02,  1.05533376e-01,
        2.60320008e-01,  1.61189616e-01,  2.02402487e-01,  4.67544720e-02,
       -1.45699367e-01, -1.77239150e-01,  7.62067512e-02,  9.27617550e-02,
       -7.72038102e-02, -6.13764599e-02, -6.46692514e-02, -6.06185645e-02,
       -1.67439565e-01, -4.98812422e-02,  1.40760064e-01,  5.56821097e-03,
       -5.12218699e-02, -9.12179798e-02, -1.24093994e-01, -9.46686938e-02,
       -1.33573815e-01, -3.26614454e-02,  2.10042104e-01,  1.00619406e-01,
       -4.66171280e-02,  9.86456499e-03, -1.03100501e-01,  5.58949411e-02,
        4.77470607e-02,  4.02093194e-02,  9.00231227e-02,  3.51814739e-02,
       -1.19018614e-01, -9.53900069e-03,  2.86606327e-03, -9.76111293e-02,
       -2.61538416e-01, -1.29279599e-01,  1.23000801e-01, -1.89646289e-01,
        1.50230024e-02,  1.39194563e-01, -4.39905040e-02, -1.41244352e-01,
       -3.59102488e-02,  8.77601132e-02,  1.23594120e-01, -1.34220645e-02,
       -2.31841281e-01, -3.10434401e-02, -2.18042076e-01,  8.38904455e-02,
       -8.13449547e-02, -1.07275039e-01,  7.29906708e-02,  3.39657009e-01,
       -1.15476996e-01, -2.35301275e-02, -5.28635085e-02, -1.85797751e-01,
       -3.10280651e-01, -1.67354211e-01,  2.78373193e-02,  9.34199989e-02,
       -3.73648144e-02,  4.65878695e-02,  9.28828418e-02,  5.81247211e-02,
        1.33431375e-01, -2.95598239e-01,  1.62750334e-02, -5.22524342e-02,
       -5.01628146e-02,  1.20947622e-01, -9.28543285e-02,  1.27721243e-02,
        1.56892136e-01, -1.83734998e-01, -3.73185705e-03,  1.40510559e-01,
       -1.32816985e-01, -1.38366625e-01,  5.57919107e-02,  2.31621131e-01,
       -4.02661502e-01, -7.50887766e-02,  1.27522305e-01,  2.49145508e-01,
       -1.68027118e-01,  1.40721455e-01,  7.40317553e-02,  1.09221563e-01,
        9.65191498e-02,  1.65794387e-01,  2.25392252e-01,  2.67331880e-02,
       -1.46653995e-01, -2.33946480e-02,  7.98021704e-02,  7.08411261e-02,
       -3.91563140e-02, -1.18036062e-01,  7.17040002e-02, -1.15360450e-02,
       -1.55798703e-01,  2.22452775e-01, -2.05654725e-01,  2.98357248e-01,
        1.90525562e-01, -1.31079882e-01,  7.58048743e-02, -8.75348747e-02,
       -3.37736040e-01, -1.03520460e-01,  2.90448777e-04, -1.36957884e-01,
       -5.86456247e-02,  2.11170033e-01, -1.54688388e-01,  3.32524151e-01,
        1.57408446e-01, -5.01925685e-03,  2.03534380e-01,  1.39831871e-01,
       -1.28430203e-01, -2.87437476e-02, -2.68409193e-01,  3.80526856e-02,
        1.15590237e-01,  1.20180130e-01, -4.33390103e-02, -8.61875638e-02,
        6.47753701e-02,  1.79366879e-02,  5.93493134e-02,  3.81637886e-02,
       -1.01565249e-01, -1.21501803e-01,  6.54116869e-02, -5.80400042e-03,
        1.22339082e+00, -1.23055190e-01,  1.06590688e-01, -7.98290074e-02,
        1.45489067e-01, -4.52111289e-02,  4.50809337e-02,  1.49728686e-01,
        2.06973813e-02, -8.47575068e-02, -5.95162176e-02, -1.74539369e-02,
       -2.09432602e-01, -1.32619999e-02,  2.88634628e-01,  1.07964508e-01,
        1.31526873e-01, -6.43575490e-02, -9.08718109e-02, -1.86915584e-02,
        2.07895428e-01,  1.30428195e-01,  2.13805102e-02, -9.09745693e-04,
        3.03805638e-02,  4.51151282e-02,  9.55239311e-02, -2.13546738e-01,
       -2.91584134e-01,  7.61946738e-02,  1.01439163e-01, -8.06178525e-02,
       -2.35592276e-01, -1.06917277e-01,  1.38318136e-01,  1.61681116e-01,
       -1.72768123e-02,  9.37817842e-02, -8.20556469e-03,  1.12494498e-01,
        9.81284976e-02,  1.08921058e-01,  1.00459062e-01,  1.18036561e-01,
       -3.67686301e-01, -9.51501429e-02,  6.11817501e-02,  8.04811269e-02,
       -5.64681888e-02,  2.71301232e-02,  5.39219975e-02, -2.21347168e-01,
        3.41866314e-02, -1.55004472e-01,  4.91335243e-01, -3.38096246e-02,
        1.57017320e-01, -1.30993992e-01,  2.75745522e-03,  1.53822452e-01,
        1.49885640e-01, -3.56011420e-01,  2.93774873e-01,  3.62343043e-02,
       -1.50984570e-01,  3.22498679e-02, -2.17450008e-01,  7.89246894e-03,
        2.04998001e-01,  1.84271678e-01,  2.30809264e-02, -4.63358089e-02,
        2.97474973e-02,  1.17663749e-01,  1.14573061e-01, -9.34391469e-02,
       -1.74531376e+00, -8.51866156e-02,  1.10847287e-01,  5.52248694e-02,
       -2.96951830e-02, -6.45953119e-02,  3.75757478e-02, -8.52668658e-03,
       -2.82419380e-02,  5.17236292e-01,  4.77173775e-02,  2.43537977e-01,
       -3.08670029e-02, -1.28654065e-02,  8.17456469e-03, -5.50708063e-02,
       -1.94188610e-01, -8.26260746e-02,  6.89734370e-02,  1.33760482e-01,
       -5.30420616e-02, -3.93853709e-02, -6.53166845e-02,  1.01034150e-01],
      dtype=float32)

In [64]:
X_train = X["w2v"]
y_train = Y_st
y_lt_train = Y_lt
model = SVR(kernel= 'linear', C=1e-5)
model.fit(X_train, y_lt_train)#y_train)
y_pred = model.predict(X_test)

In [65]:
pickle.dump(model, open('me20_svr_w2v_lt_model.pickle', 'wb'))

In [66]:
y_x_train = model.predict(X_train)

In [67]:
y_pred

array([0.77997079, 0.7797642 , 0.78008795, 0.78022108, 0.77986659,
       0.77965182, 0.77994218, 0.77976779, 0.77944793, 0.78015572,
       0.78000288, 0.77973616, 0.78004828, 0.77997102, 0.78017335,
       0.77995378, 0.77985305, 0.77986139, 0.7799766 , 0.78014961,
       0.77986225, 0.77998676, 0.7801218 , 0.78008001, 0.78000766,
       0.78001682, 0.77994058, 0.77955221, 0.78009712, 0.77996546,
       0.77988701, 0.77984274, 0.77991277, 0.77988426, 0.78013506,
       0.77994658, 0.77991734, 0.77978485, 0.78012153, 0.77977709,
       0.78007222, 0.77995545, 0.77974254, 0.77996164, 0.77982887,
       0.77985802, 0.77998548, 0.77997278, 0.78002488, 0.77980092,
       0.78007699, 0.78000446, 0.77981268, 0.77994634, 0.77991927,
       0.7796855 , 0.77984967, 0.77995579, 0.77998625, 0.77990014,
       0.78004567, 0.77997777, 0.77992922, 0.77985333, 0.7800225 ,
       0.78004387, 0.78000878, 0.7800946 , 0.77989137, 0.78009467,
       0.77979589, 0.77929193, 0.77971318, 0.77941065, 0.77985651,
       0.77995857, 0.78001056, 0.77999374, 0.77971013, 0.78011825,
       0.7799396 , 0.77979011, 0.77997302, 0.77994521, 0.77992007,
       0.78000786, 0.78000281, 0.77988708, 0.78003718, 0.77980035,
       0.7799498 , 0.77978901, 0.77999924, 0.7798093 , 0.78019181,
       0.77999137, 0.77988282, 0.77997418])

In [53]:
scaler  = MinMaxScaler()
y_range = scaler.fit_transform(y_x_train.reshape(-1, 1)) #

In [54]:
y_range

array([[0.31803164],
       [0.44820742],
       [0.20585157],
       [0.36644582],
       [0.4579202 ],
       [0.31014022],
       [0.51386409],
       [0.64925758],
       [0.39145064],
       [0.38564609],
       [0.46151101],
       [0.44995207],
       [0.43926785],
       [0.55292696],
       [0.47636936],
       [0.4786676 ],
       [0.39763412],
       [0.41138989],
       [0.26707103],
       [0.7882852 ],
       [0.64806453],
       [0.58608948],
       [0.46933737],
       [0.61456129],
       [0.45628901],
       [0.82027662],
       [0.65242422],
       [0.04640779],
       [0.5684666 ],
       [0.52909859],
       [0.46269163],
       [0.40234362],
       [0.67198139],
       [0.80897008],
       [0.43794534],
       [0.19377595],
       [0.39657238],
       [0.25891477],
       [0.43207796],
       [0.48542031],
       [0.07088518],
       [0.18776335],
       [0.55021202],
       [0.61777229],
       [0.83209362],
       [0.8479839 ],
       [0.43676525],
       [0.33850005],
       [0.45401932],
       [0.88029939],
       [0.2021676 ],
       [0.61573043],
       [0.57376394],
       [0.54486891],
       [0.32713242],
       [0.64923403],
       [0.16662661],
       [0.29784881],
       [0.3608153 ],
       [0.53723557],
       [0.50608017],
       [0.60147831],
       [0.37016709],
       [0.17539923],
       [0.27164614],
       [0.05227972],
       [0.39602941],
       [0.49857575],
       [0.42190845],
       [0.55621838],
       [0.5292712 ],
       [0.08551913],
       [0.62138206],
       [0.64138643],
       [0.36446566],
       [0.77652857],
       [1.        ],
       [0.66935832],
       [0.44072671],
       [0.696192  ],
       [0.3993467 ],
       [0.51183881],
       [0.19184334],
       [0.71667319],
       [0.55993091],
       [0.28885804],
       [0.32103006],
       [0.5492491 ],
       [0.        ],
       [0.69988055],
       [0.42651383],
       [0.42638316],
       [0.35984665],
       [0.56151776],
       [0.24864403],
       [0.52116148],
       [0.47110126],
       [0.46719248],
       [0.5929954 ],
       [0.37938503],
       [0.59377313],
       [0.3990619 ],
       [0.82804418],
       [0.4627834 ],
       [0.57015135],
       [0.60582248],
       [0.66657605],
       [0.33388353],
       [0.42111659],
       [0.52845799],
       [0.10889198],
       [0.54904026],
       [0.42846239],
       [0.45825247],
       [0.71194719],
       [0.76364366],
       [0.53773662],
       [0.53473773],
       [0.39087532],
       [0.66102154],
       [0.54594747],
       [0.61999658],
       [0.3529244 ],
       [0.64623792],
       [0.4356842 ],
       [0.35615464],
       [0.30359279],
       [0.21660232],
       [0.70624513],
       [0.51517469],
       [0.28374533],
       [0.54337178],
       [0.54669132],
       [0.40042664],
       [0.38126243],
       [0.47658171],
       [0.28959877],
       [0.50395319],
       [0.10461286],
       [0.03541049],
       [0.4196823 ],
       [0.4749795 ],
       [0.45430144],
       [0.14092178],
       [0.595301  ],
       [0.52761744],
       [0.45815421],
       [0.5158129 ],
       [0.44501008],
       [0.41263905],
       [0.02033283],
       [0.4122806 ],
       [0.19894286],
       [0.46196444],
       [0.32555034],
       [0.65442007],
       [0.45210158],
       [0.42944801],
       [0.63529731],
       [0.66921313],
       [0.35786791],
       [0.32949768],
       [0.43225841],
       [0.48897513],
       [0.54808309],
       [0.38462174],
       [0.29101734],
       [0.60259768],
       [0.31170014],
       [0.24968743],
       [0.48272411],
       [0.41807345],
       [0.41231571],
       [0.60439233],
       [0.30366417],
       [0.10340214],
       [0.44700356],
       [0.37346957],
       [0.54040922],
       [0.80314566],
       [0.36226449],
       [0.39633091],
       [0.41725049],
       [0.48876767],
       [0.58587648],
       [0.3590729 ],
       [0.35500752],
       [0.45814819],
       [0.62600877],
       [0.35741919],
       [0.34509666],
       [0.35342275],
       [0.36590984],
       [0.38731104],
       [0.48801647],
       [0.48033613],
       [0.67375   ],
       [0.70601652],
       [0.38524597],
       [0.45671513],
       [0.27699277],
       [0.34721462],
       [0.28786435],
       [0.45770147],
       [0.37237147],
       [0.4693218 ],
       [0.83666025],
       [0.27883653],
       [0.66147983],
       [0.15670498],
       [0.57197746],
       [0.45600821],
       [0.2856849 ],
       [0.66702704],
       [0.72172699],
       [0.39899427],
       [0.30905078],
       [0.11897993],
       [0.66982275],
       [0.5842274 ],
       [0.80426944],
       [0.48920386],
       [0.59563747],
       [0.36674987],
       [0.45185343],
       [0.39124759],
       [0.76956821],
       [0.74321892],
       [0.68577644],
       [0.36178618],
       [0.40016061],
       [0.49854558],
       [0.32500128],
       [0.25768518],
       [0.23297219],
       [0.37964216],
       [0.46250905],
       [0.31678597],
       [0.45156643],
       [0.49216371],
       [0.7508806 ],
       [0.37787122],
       [0.52729458],
       [0.346696  ],
       [0.14367422],
       [0.48853144],
       [0.20960673],
       [0.8298545 ],
       [0.38418822],
       [0.53661875],
       [0.32471758],
       [0.34578605],
       [0.83006947],
       [0.39277673],
       [0.47708645],
       [0.50912772],
       [0.59052483],
       [0.25494548],
       [0.23863309],
       [0.51590959],
       [0.55539781],
       [0.5191204 ],
       [0.61690193],
       [0.27698526],
       [0.54457378],
       [0.53871928],
       [0.65471232],
       [0.41647567],
       [0.36706421],
       [0.27672276],
       [0.25691728],
       [0.37065091],
       [0.36000043],
       [0.44977754],
       [0.43251655],
       [0.33271992],
       [0.32432335],
       [0.5936639 ],
       [0.47321946],
       [0.03633536],
       [0.46469534],
       [0.40620686],
       [0.53732412],
       [0.37680657],
       [0.67832969],
       [0.49272536],
       [0.37734964],
       [0.35469643],
       [0.20864538],
       [0.39578002],
       [0.64108117],
       [0.40670669],
       [0.53761861],
       [0.63519656],
       [0.3958351 ],
       [0.49580143],
       [0.42726619],
       [0.47219129],
       [0.40157008],
       [0.44496396],
       [0.45438808],
       [0.50885812],
       [0.54453959],
       [0.42127859],
       [0.52844694],
       [0.45797513],
       [0.32962685],
       [0.38803654],
       [0.33049305],
       [0.56552374],
       [0.51184949],
       [0.21871021],
       [0.3554923 ],
       [0.41559777],
       [0.58845083],
       [0.47514609],
       [0.414827  ],
       [0.64441359],
       [0.46102997],
       [0.3772667 ],
       [0.57487541],
       [0.44862526],
       [0.44647341],
       [0.49036246],
       [0.57494106],
       [0.51196379],
       [0.67279271],
       [0.47189678],
       [0.50914479],
       [0.52962424],
       [0.59156607],
       [0.59086885],
       [0.58332353],
       [0.50213774],
       [0.4944422 ],
       [0.55873246],
       [0.61634109],
       [0.34080873],
       [0.61682398],
       [0.22403476],
       [0.50231223],
       [0.43280787],
       [0.4771321 ],
       [0.50705814],
       [0.57703003],
       [0.24934841],
       [0.58111587],
       [0.6560659 ],
       [0.51214019],
       [0.46918513],
       [0.55607444],
       [0.56761568],
       [0.42731071],
       [0.69994134],
       [0.40841251],
       [0.56538504],
       [0.42579995],
       [0.4743818 ],
       [0.49147523],
       [0.42256824],
       [0.34450036],
       [0.35680717],
       [0.54305061],
       [0.45424666],
       [0.45031601],
       [0.26410579],
       [0.36820604],
       [0.4022735 ],
       [0.48372644],
       [0.39318037],
       [0.48639888],
       [0.33047411],
       [0.36818293],
       [0.37452228],
       [0.49900428],
       [0.57014864],
       [0.36972587],
       [0.46487536],
       [0.28100955],
       [0.47975007],
       [0.5904529 ],
       [0.56318741],
       [0.21725304],
       [0.44990929],
       [0.46742631],
       [0.70657876],
       [0.25171978],
       [0.44946724],
       [0.49191315],
       [0.53458876],
       [0.49552883],
       [0.270848  ],
       [0.52096523],
       [0.49211018],
       [0.38772515],
       [0.1799147 ],
       [0.52792337],
       [0.49454644],
       [0.38358186],
       [0.36050912],
       [0.45437857],
       [0.39288905],
       [0.40532668],
       [0.56184722],
       [0.49567722],
       [0.53508409],
       [0.53386475],
       [0.5434185 ],
       [0.59823266],
       [0.59613567],
       [0.40997256],
       [0.44865572],
       [0.40769108],
       [0.49074371],
       [0.60475468],
       [0.49073116],
       [0.26207489],
       [0.50042886],
       [0.4328777 ],
       [0.53136417],
       [0.66959836],
       [0.50602346],
       [0.3605669 ],
       [0.53370903],
       [0.32449194],
       [0.3695524 ],
       [0.76598373],
       [0.58805506],
       [0.50743834],
       [0.24709189],
       [0.59990581],
       [0.41492612],
       [0.57549953],
       [0.43397548],
       [0.52232715],
       [0.30757713],
       [0.41499275],
       [0.46505938],
       [0.46206122],
       [0.41127301],
       [0.57679776],
       [0.36215256],
       [0.46873307],
       [0.34476592],
       [0.30848578],
       [0.53757636],
       [0.51687017],
       [0.54888492],
       [0.40152533],
       [0.66606076],
       [0.30410462],
       [0.42781183],
       [0.59879253],
       [0.49058627],
       [0.24811452],
       [0.385825  ],
       [0.36203452],
       [0.30002514],
       [0.51598002],
       [0.62748263],
       [0.49895033],
       [0.37103714],
       [0.52097725],
       [0.35506879],
       [0.35165888],
       [0.42047399],
       [0.54793085],
       [0.53721525],
       [0.50521683],
       [0.44324403],
       [0.38434292],
       [0.33024334],
       [0.54547004],
       [0.58862522],
       [0.73670819],
       [0.44973006],
       [0.49925429],
       [0.49951977],
       [0.31592367],
       [0.59923266],
       [0.54623825],
       [0.42973788],
       [0.56085395],
       [0.59133307],
       [0.56097402],
       [0.46521717],
       [0.51661971],
       [0.37866215],
       [0.65968932],
       [0.59173928],
       [0.48763763],
       [0.43232225],
       [0.46347881],
       [0.32803381],
       [0.52124149],
       [0.65960358],
       [0.32669001],
       [0.34539514],
       [0.45274901],
       [0.45478756],
       [0.2375212 ],
       [0.69148769],
       [0.43152572],
       [0.46295167],
       [0.49347304],
       [0.47809754],
       [0.66962844],
       [0.54916244],
       [0.43787841],
       [0.42621637],
       [0.63473087],
       [0.63000942],
       [0.35882862],
       [0.57601093],
       [0.49981835],
       [0.50877147],
       [0.61164536],
       [0.50830624],
       [0.38161162],
       [0.27133287],
       [0.59341718],
       [0.60967726],
       [0.51933944],
       [0.32755455],
       [0.44614237],
       [0.50668028],
       [0.51033377],
       [0.49691472],
       [0.45179155],
       [0.33267486],
       [0.5525611 ],
       [0.39997347],
       [0.50692935],
       [0.36415615],
       [0.34103681],
       [0.50581263],
       [0.4385147 ],
       [0.41531833],
       [0.45051061],
       [0.57018317],
       [0.63877331],
       [0.39703628],
       [0.54118437],
       [0.49592646],
       [0.41259622],
       [0.51066578],
       [0.48130038],
       [0.45698461],
       [0.41685817],
       [0.54647953],
       [0.57553896],
       [0.54249807],
       [0.57810899],
       [0.50834389],
       [0.3720425 ],
       [0.46196561],
       [0.48832718],
       [0.39873495],
       [0.59042085],
       [0.54797402],
       [0.4965454 ],
       [0.61709875],
       [0.41693618],
       [0.22873538],
       [0.36046643],
       [0.27100535],
       [0.48399477],
       [0.47459852],
       [0.60421232],
       [0.58878778],
       [0.2570799 ],
       [0.71399069],
       [0.4715143 ],
       [0.46064573],
       [0.45825766],
       [0.53828089],
       [0.4651969 ],
       [0.33482033],
       [0.55967342],
       [0.41362042],
       [0.47288542],
       [0.43899506],
       [0.46545417],
       [0.31544588],
       [0.63290693],
       [0.38849266],
       [0.7743308 ],
       [0.63026843],
       [0.55500939],
       [0.61061331]])

In [60]:
scaler.transform(np.array([0.83]).reshape(1, -1))

array([[0.49061436]])

In [ ]:
X_w2v   = []

for i, entry in tqdm(df_data.iterrows(), total=len(df_data)):
    text = tokenize(entry['text'])
    
    words = [word for word in text.split(' ') if word in w2v]
    x_w2v = np.zeros([300]) if not words else np.mean([w2v[word] for word in words], axis=0)
    
    X_w2v.append(x_w2v)

In [40]:
for term, all_folds in [('Short term', folds), ('Long term', folds_lt), ('Long Short term', folds_lt)]:
    print(term.upper())
    for embedding in all_folds:
        print('  USING', embedding)
        for i, model_name in enumerate(all_folds[embedding]):
            # print('    ', (model_name.split('(')[0] + ' ' + str(i+1)).ljust(18), '\t', end=' ')
            print('    ', model_name, '\t', end=' ')
            # print(', '.join([str(spearman(y_p, y_t)) for y_p, y_t in all_folds[embedding][model_name]]))
            if term == 'Long Short term':
                sps = [spearman(ys_p, yl_t) for (ys_p, ys_t), (yl_p, yl_t)
                       in zip(folds[embedding][model_name], folds_lt[embedding][model_name])]
            else:
                sps = [spearman(y_p, y_t) for y_p, y_t in all_folds[embedding][model_name]]
            print(round(sum(sps)/len(sps), 4))

SHORT TERM
  USING w2v
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2424
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.246
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2506
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2506
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2451
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2484
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2484
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.2484
LONG TERM
  USING w2v
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1329
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1355
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1355
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1355
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1309
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1309
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1309
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1309
LONG SHORT TERM
  USING w2v
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.135
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1372
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1369
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1369
     SVR(C=0.001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1287
     SVR(C=0.0001, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1293
     SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1293
     SVR(C=1e-07, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) 	 0.1293

In [43]:
ismail_st = folds['w2v']["SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',\n    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)"]
ismail_lt = folds_lt['w2v']["SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',\n    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)"]

# Jorma's results

In [ ]:
viz_st = pd.read_csv('me_2020/me20in_memad_shorterm_a.csv', header=None)[[1]].values
viz_lt = pd.read_csv('me_2020/me20in_memad_longterm_a.csv', header=None)[[1]].values
scores_st = df_scores[['part_1_scores']].values
scores_lt = df_scores[['part_2_scores']].values

In [ ]:
viz_lt.shape

In [ ]:
scores_st = df_scores[['part_1_scores']].values
scores_lt = df_scores[['part_2_scores']].values

In [ ]:
spearman(viz_st, scores_st)

In [ ]:
spearman(scores_lt, viz_lt)

# Training on ME2019 data

In [ ]:
me19 = pd.read_csv('me_2020/me19_training_data.csv')
me19.head()

In [ ]:
X19_tfidf = []
X19_w2v   = []
Y19 = []

for i, entry in tqdm(me19.iterrows(), total=len(me19)):
    text = tokenize(entry['text'])
    y = (entry['short_term'], entry['long_term'])
    
    x_tfidf = vectorizer.transform([text]).toarray()[0]
    words = [word for word in text.split(' ') if word in w2v]
    x_w2v = np.zeros([300]) if not words else np.mean([w2v[word] for word in words], axis=0)
    
    assert(x_tfidf.shape == (991,))
    assert(x_w2v.shape == (300,))
    
    X19_tfidf.append(x_tfidf)
    X19_w2v.append(x_w2v)
    Y19.append(y)

In [ ]:
X19_tfidf = np.array(X19_tfidf)
X19_w2v = np.array(X19_w2v)
Y19 = np.array(Y19)

X19_tfidf.shape, X19_w2v.shape, Y19.shape

In [ ]:
corpus19 = [l.lower() for l in  me19['text'].values]

In [ ]:
bert19_embeddings = []
for i in tqdm(range(10)):
    embeddings = model.encode(corpus19[i*800: (i+1)*800])
    bert19_embeddings.append(embeddings)

bert19_embeddings = np.concatenate(bert19_embeddings)

In [ ]:
X19 = {'tfidf': X19_tfidf, 'w2b':X19_w2v, 'bert': bert19_embeddings}
Y19_st = Y19[:, 0]
Y19_lt = Y19[:, 1]

In [ ]:
"""
X = {'tfidf': X_tfidf, 'w2v':X_w2v, 'bert1': bert1_embeddings, 'bert2': bert2_embeddings}
Y_st = Y[:, 0]
Y_lt = Y[:, 1]me19_st = {}
for k in X19:
    # if k == 'tfidf': continue
    print(k)
    me19_st[k] = {}
    for regressor in enumerate_models(regression_models):
        model_name = str(regressor)
        me19_st[model_name] = []
        print('Training', model_name.split('(')[0], '..')
                
        t = time.time()
        X_train, X_test = X19[k], X[k]
        y_train, y_test = Y19_st, Y_st
        
        if model_name.startswith('SVR'):
            X_train, y_train = X_train[:600], y_train[:600]
        
        # print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
        regressor.fit(X_train, y_train)
        y_pred = regressor.predict(X_test)
        me19_st[k][model_name] = (y_pred, y_test)
        print()
        print(f'done! ({(time.time() - t):2} secs)')
        print('Spearman:', round(spearman(y_pred, y_test), 3), '\n')
        t = time.time()
        
me19_lt = {}
for k in X19:
    # if k == 'tfidf': continue
    print(k)
    me19_lt[k] = {}
    for regressor in enumerate_models(regression_models):
        model_name = str(regressor)
        me19_st[model_name] = []
        print('Training', model_name.split('(')[0], '..')
        t = time.time()
        X_train, X_test = X19[k], X[k]
        y_train, y_test = Y19_lt, Y_lt
        
        # print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
        regressor.fit(X_train, y_train)
        y_pred = regressor.predict(X_test)
        me19_lt[k][model_name] = (y_pred, y_test)
        print()
        print(f'done! ({(time.time() - t):2} secs)')
        print('Spearman:', round(spearman(y_pred, y_test), 3), '\n')
        t = time.time()
"""

# Using the new devset

In [51]:
df_text_devdf_text_dev = pd.read_csv('me_2020/dev_text_descriptions.csv', )
df_scores_dev = pd.read_csv('me_2020/dev_scores.csv', )

In [52]:
df_text_dev.head()

,video_id,video_url,description
0,34,https://mtc.cdn.vine.co/r/videos_h264high/ABE6...,a girl is screaming and punching a man in a ha...
1,34,https://mtc.cdn.vine.co/r/videos_h264high/ABE6...,two girls getting frightened by big man in a s...
2,57,https://mtc.cdn.vine.co/r/videos_h264high/BEE8...,a person takes a cap of another person away
3,57,https://mtc.cdn.vine.co/r/videos_h264high/BEE8...,a man kicks and boxes another one slightly in ...
4,68,https://mtc.cdn.vine.co/r/videos_h264high/C65D...,a group of people playing volleyball in a spor...

In [53]:
df_scores_dev.head()

,video_id,video_url,ann_1,ann_2,part_1_scores,part_2_scores
0,34,https://mtc.cdn.vine.co/r/videos_h264high/ABE6...,13,7,0.92,0.86
1,57,https://mtc.cdn.vine.co/r/videos_h264high/BEE8...,12,9,1.00,0.78
2,68,https://mtc.cdn.vine.co/r/videos_h264high/C65D...,11,6,0.91,0.33
3,79,https://mtc.cdn.vine.co/r/videos_h264high/CF30...,12,8,0.92,0.88
4,81,https://mtc.cdn.vine.co/r/videos_h264high/CFC2...,16,6,0.94,1.00

In [56]:
dev_text_concat = df_text_dev[['video_id','description']].groupby(['video_id'])['description'].transform(lambda x: '  '.join(x)).drop_duplicates()

In [58]:
len(dev_text_concat)

410

In [63]:
df_dev_data = df_scores_dev[['video_id', 'part_1_scores', 'part_2_scores']].rename(columns={'part_1_scores':'short_term', 'part_2_scores':'long_term'})
df_dev_data['text'] = dev_text_concat.values
df_dev_data.head()

,video_id,short_term,long_term,text
0,34,0.92,0.86,a girl is screaming and punching a man in a ha...
1,57,1.00,0.78,a person takes a cap of another person away a...
2,68,0.91,0.33,a group of people playing volleyball in a spor...
3,79,0.92,0.88,a black woman punches a black man after a dia...
4,81,0.94,1.00,a woman plays with a hula hoop outside at dayt...
5,92,0.83,1.00,a man in a park lights a bunch of leaves a ma...
6,95,0.86,0.67,a woman is shown in different scenes woman si...
7,107,1.00,0.60,a person smashing a tv in a living room an ol...
8,111,0.91,1.00,a man wearing glasses a man says something in...
9,114,0.91,0.71,a child gets tackled by a goat at daytime sma...
10,128,0.85,0.86,persons in costumes dance together outdoors at...
11,135,1.00,0.60,4 men dance on chairs at daytime 4 men dance ...
12,157,1.00,1.00,a playing card changes its appearance playing...
13,163,0.92,0.67,a wristwatch is lying on a bed a person snaps...
14,217,1.00,0.86,a man with a pillow in his hand bends forward ...
15,272,1.00,1.00,an american football player throws the ball to...
16,284,1.00,1.00,"in the daytime, two african men sit in a car. ..."
17,292,1.00,0.73,a hedgehog walks over a street at daytime hed...
18,319,1.00,1.00,a basketball player looks into a camera on a b...
19,344,0.94,0.57,a pony walks rhythmically outside at daytime ...
20,355,1.00,0.83,3 balls hover in front of a man a man sitting...
21,357,1.00,0.67,a woman wearing pink pants shaking her bottom ...
22,375,0.92,0.89,"in the daytime, a dog goes upstairs to the bed..."
23,388,1.00,0.80,liquid materials are put on a shoe in an indoo...
24,394,1.00,0.57,a man is spinning his arms and runs to another...
25,433,0.92,0.75,a cat on a couch hits and bites itself a cat ...
26,435,1.00,0.57,a cat is outstretching its paws fluffy cat ra...
27,463,1.00,0.75,a girl dances by moving her hands and legs ons...
28,499,1.00,1.00,a man in a kitchen stands behind a chair a ma...
29,509,1.00,1.00,a black boy hits a ball with his lower body a...
...,...,...,...,...
380,5773,0.92,1.00,White teenage male in a black zippered outfit ...
381,5776,0.92,0.50,Young boy in the bleachers wearing a bright gr...
382,5784,0.94,0.88,Two teenage females fighting in a hallway duri...
383,5812,1.00,0.20,Women lacrosse players on a field pass the bal...
384,5839,1.00,1.00,In public restroom woman shakes her head and b...
385,5850,1.00,0.80,Young female child in cheerleader uniform is a...
386,5855,1.00,0.67,"Man lies in sun with banana and two jar lids, ..."
387,5861,1.00,0.38,White dog appears to be sleep and laughs on co...
388,5881,1.00,1.00,Dark scene of man's face with tear stains a b...
389,5916,0.94,0.60,Shirtless African male in red shorts in a swin...
390,5933,0.93,0.83,"On sidelines of basketball stadium, a player w..."
391,5939,1.00,0.75,Asian teenagers eating and one exchanges chops...
392,5946,0.95,0.71,"In a stadium filled with people, man in suit e..."
393,5954,1.00,0.73,Man with white hair crouched in front of a cag...
394,5969,0.73,0.33,Teenage boy in plaid shirt leans across the co...
395,5971,1.00,0.88,Four Asian boys wearing black and white aprons...
396,5983,1.00,0.67,"Vintage cars, one grey, red, black with #1, an..."
397,6009,0.93,0.71,"On basketball court, a player moves his hand d..."
398,6023,1.00,0.78,An elephant emerging from underwater outside d...
399,6038,0.93,0.80,An African man stands on a counter in a store ...
400,6039,1.00,0.67,Asian teenage boy with a stuffed animal on his...
401,6053,1.00,0.86,"In a field, a cat leaps high in the air to cat..."
402,6094,1.00,0.79,At a desk a person holds a black board with ge...
403,6098,1.00,0.83,Asian woman kneeling on a platform with holes ...
404,6100,1.00,1.00,"Woman wearing metal necklace saying ""happy"" sm..."
405,6123,0.93,0.71,Teenage girl in car at drive through window pa...
406,6150,0.93,1.00,African child with braided hair riding in a ve...
407,6163,0.92,0.67,A book about butterflies is opened a book wit...
408,6169,0.93,0.92,Teenage white male outside in a yard smoking a...
409,6171,0.94,0.50,Asian woman holds red cloth by chopsticks over...

In [64]:
X_dev_tfidf = []
X_dev_w2v   = []
Y_dev = []

for i, entry in tqdm(df_dev_data.iterrows(), total=len(df_dev_data)):
    text = tokenize(entry['text'])
    y = (entry['short_term'], entry['long_term'])
    
    x_tfidf = vectorizer.transform([text]).toarray()[0]
    words = [word for word in text.split(' ') if word in w2v]
    x_w2v = np.zeros([300]) if not words else np.mean([w2v[word] for word in words], axis=0)
    
    X_dev_tfidf.append(x_tfidf)
    X_dev_w2v.append(x_w2v)
    Y_dev.append(y)

HBox(children=(FloatProgress(value=0.0, max=410.0), HTML(value='')))

In [49]:
X.keys(), Y_st.shape, Y_lt.shape

(dict_keys(['tfidf', 'w2v', 'bert1', 'bert2']), (590,), (590,))

In [65]:
dev_corpus_tokenized2 = [tokenize2(s) for s in df_dev_data.text.values]

In [66]:
bert1_dev_embeddings = sbert1.encode(dev_corpus_tokenized2)
bert2_dev_embeddings = sbert2.encode(dev_corpus_tokenized2)

In [68]:
X_dev_tfidf = np.array(X_dev_tfidf)
X_dev_w2v   = np.array(X_dev_w2v)
Y_dev = np.array(Y_dev)

In [69]:
X_dev = {'tfidf':X_dev_tfidf , 'w2v':X_dev_w2v, 'bert1':bert1_dev_embeddings, 'bert2':bert2_dev_embeddings}
Y_dev_st = Y_dev[:, 0]
Y_dev_lt = Y_dev[:, 1]

In [75]:
dev_preds = {}
dev_results = {}
for term in ['Short term', 'Long term']:
    dev_preds[term] = {}
    dev_results[term] = {}
    
    for embedding in X.keys():
        dev_preds[term][embedding] = {}
        dev_results[term][embedding] = {}
        for regressor in enumerate_models(regression_models):
            model_name = str(regressor)
            print('Training', model_name.split(',')[0] + ')' , 'on', embedding, 'for', term, '..')
            
            t = time.time()
            
            X_train, X_test = X[embedding], X_dev[embedding]
            y_train = Y_st if 'Short' in term else Y_lt
            regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            dev_preds[term][embedding][model_name] = (y_pred)
            dev_results[term][embedding][model_name] = {
                'on_st': spearman(y_pred, Y_dev_st),
                'on_lt': spearman(y_pred, Y_dev_lt)
            }
            # print(f'done! ({(time.time() - t):.2} secs)')
            print(f'Spearman: ST {spearman(y_pred, Y_dev_st):.3}, / LT {spearman(y_pred, Y_dev_lt):.3}')

            t = time.time()

Training SVR(C=1.0) on tfidf for Short term ..
Spearman: ST -0.0134, / LT 0.0564
Training SVR(C=0.001) on tfidf for Short term ..
Spearman: ST -0.007, / LT 0.0911
Training SVR(C=1e-05) on tfidf for Short term ..
Spearman: ST -0.00393, / LT 0.0937
Training SVR(C=1.0) on tfidf for Short term ..
Spearman: ST -0.0279, / LT 0.0957
Training SVR(C=0.001) on tfidf for Short term ..
Spearman: ST -0.00668, / LT 0.0974
Training SVR(C=1e-05) on tfidf for Short term ..
Spearman: ST -0.00668, / LT 0.0974
Training SVR(C=1.0) on w2v for Short term ..
Spearman: ST -0.0355, / LT 0.0353
Training SVR(C=0.001) on w2v for Short term ..
Spearman: ST -0.032, / LT 0.0639
Training SVR(C=1e-05) on w2v for Short term ..
Spearman: ST -0.0333, / LT 0.0672
Training SVR(C=1.0) on w2v for Short term ..
Spearman: ST -0.0305, / LT 0.0937
Training SVR(C=0.001) on w2v for Short term ..
Spearman: ST -0.0275, / LT 0.0595
Training SVR(C=1e-05) on w2v for Short term ..
Spearman: ST -0.0271, / LT 0.0637
Training SVR(C=1.0) on bert1 for Short term ..
Spearman: ST 0.033, / LT 0.0551
Training SVR(C=0.001) on bert1 for Short term ..
Spearman: ST 0.000186, / LT 0.13
Training SVR(C=1e-05) on bert1 for Short term ..
Spearman: ST 0.00144, / LT 0.114
Training SVR(C=1.0) on bert1 for Short term ..
Spearman: ST 0.0185, / LT 0.116
Training SVR(C=0.001) on bert1 for Short term ..
Spearman: ST 0.00903, / LT 0.125
Training SVR(C=1e-05) on bert1 for Short term ..
Spearman: ST 0.00924, / LT 0.124
Training SVR(C=1.0) on bert2 for Short term ..
Spearman: ST -0.0282, / LT 0.106
Training SVR(C=0.001) on bert2 for Short term ..
Spearman: ST -0.024, / LT 0.108
Training SVR(C=1e-05) on bert2 for Short term ..
Spearman: ST -0.0156, / LT 0.156
Training SVR(C=1.0) on bert2 for Short term ..
Spearman: ST -0.0273, / LT 0.094
Training SVR(C=0.001) on bert2 for Short term ..
Spearman: ST -0.0305, / LT 0.163
Training SVR(C=1e-05) on bert2 for Short term ..
Spearman: ST -0.0235, / LT 0.146
Training SVR(C=1.0) on tfidf for Long term ..
Spearman: ST -0.0402, / LT 0.0414
Training SVR(C=0.001) on tfidf for Long term ..
Spearman: ST -0.0853, / LT 0.0737
Training SVR(C=1e-05) on tfidf for Long term ..
Spearman: ST -0.0853, / LT 0.0737
Training SVR(C=1.0) on tfidf for Long term ..
Spearman: ST -0.0876, / LT 0.102
Training SVR(C=0.001) on tfidf for Long term ..
Spearman: ST -0.086, / LT 0.0692
Training SVR(C=1e-05) on tfidf for Long term ..
Spearman: ST -0.086, / LT 0.0692
Training SVR(C=1.0) on w2v for Long term ..
Spearman: ST -0.0627, / LT 0.0543
Training SVR(C=0.001) on w2v for Long term ..
Spearman: ST -0.0931, / LT 0.0819
Training SVR(C=1e-05) on w2v for Long term ..
Spearman: ST -0.0906, / LT 0.0819
Training SVR(C=1.0) on w2v for Long term ..
Spearman: ST -0.0698, / LT 0.0611
Training SVR(C=0.001) on w2v for Long term ..
Spearman: ST -0.0824, / LT 0.0788
Training SVR(C=1e-05) on w2v for Long term ..
Spearman: ST -0.0824, / LT 0.0788
Training SVR(C=1.0) on bert1 for Long term ..
Spearman: ST -0.0507, / LT 0.0743
Training SVR(C=0.001) on bert1 for Long term ..
Spearman: ST -0.0393, / LT 0.14
Training SVR(C=1e-05) on bert1 for Long term ..
Spearman: ST -0.0393, / LT 0.14
Training SVR(C=1.0) on bert1 for Long term ..
Spearman: ST -0.0664, / LT 0.105
Training SVR(C=0.001) on bert1 for Long term ..
Spearman: ST -0.0398, / LT 0.144
Training SVR(C=1e-05) on bert1 for Long term ..
Spearman: ST -0.0373, / LT 0.144
Training SVR(C=1.0) on bert2 for Long term ..
Spearman: ST 0.0215, / LT 0.046
Training SVR(C=0.001) on bert2 for Long term ..
Spearman: ST -0.0529, / LT 0.116
Training SVR(C=1e-05) on bert2 for Long term ..
Spearman: ST -0.00703, / LT 0.101
Training SVR(C=1.0) on bert2 for Long term ..
Spearman: ST -0.0793, / LT 0.0829
Training SVR(C=0.001) on bert2 for Long term ..
Spearman: ST -0.0227, / LT 0.114
Training SVR(C=1e-05) on bert2 for Long term ..
Spearman: ST -0.0227, / LT 0.114

In [ ]:
for term, all_folds in ['Short term', 'Long term', 'Long Short term']:
    print(term.upper())
    for embedding in all_folds:
        print('  USING', embedding)
        for i, model_name in enumerate(all_folds[embedding]):
            print('    ', (model_name.split('(')[0] + ' ' + str(i+1)).ljust(18), '\t', end=' ')
            # print(', '.join([str(spearman(y_p, y_t)) for y_p, y_t in all_folds[embedding][model_name]]))
            if term == 'Long Short term':
                sps = [spearman(ys_p, yl_t) for (ys_p, ys_t), (yl_p, yl_t)
                       in zip(folds[embedding][model_name], folds_lt[embedding][model_name])]
            else:
                sps = [spearman(y_p, y_t) for y_p, y_t in all_folds[embedding][model_name]]
            print(round(sum(sps)/len(sps), 4))

# Combining everything

In [51]:
# Ground Truth
scores_st = df_scores['part_1_scores'].values.tolist()
scores_lt = df_scores['part_2_scores'].values.tolist()

NameError: name 'df_scores' is not defined

In [52]:
# Ismail's results
best_model = "SVR(C=1e-05, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',\n    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)"
ismail_st = [v for fold in folds['w2v'][best_model] for v in fold[0]]
ismail_lt = [v for fold in folds_lt['w2v'][best_model] for v in fold[0]]

NameError: name 'folds' is not defined

In [53]:
# Alison's results
alison_st_pkl = pickle.load(open('me_2020/6folds_st.pkl', 'rb'))
alison_lt_pkl = pickle.load(open('me_2020/6folds_lt.pkl', 'rb'))
alison_st = [v for fold in alison_st_pkl for v in fold[0]]
alison_lt = [v for fold in alison_lt_pkl for v in fold[0]]

In [54]:
# Jorma's results
jorma_st_df = pd.read_csv('me_2020/short_i3d+audio_80_750.csv', header=None)
jorma_lt_df = pd.read_csv('me_2020/long_i3d+audio_260_160.csv', header=None)
jorma_st = jorma_st_df[1].values.tolist()[:590]
jorma_lt = jorma_lt_df[1].values.tolist()[:590]

In [280]:
len(jorma_st_df)

1090

In [281]:
jorma_st_df

         0         1
0        8  0.823957
1       26  0.830174
2       33  0.754513
3       46  0.795868
4       64  0.812515
5       70  0.817742
6       74  0.863829
7      117  0.858145
8      139  0.859625
9      143  0.845034
10     148  0.870083
11     160  0.859486
12     165  0.869352
13     171  0.818165
14     172  0.799808
15     188  0.810677
16     216  0.835867
17     220  0.796077
18     225  0.834091
19     227  0.878919
20     241  0.852265
21     246  0.870275
22     250  0.853000
23     261  0.894676
24     271  0.820161
25     276  0.862894
26     279  0.785620
27     280  0.783647
28     305  0.769893
29     309  0.833893
...    ...       ...
1060  5792  0.877914
1061  5799  0.852620
1062  5804  0.851795
1063  5811  0.869426
1064  5828  0.815643
1065  5840  0.836621
1066  5843  0.805497
1067  5895  0.898957
1068  5949  0.786463
1069  5952  0.788679
1070  5962  0.856117
1071  5992  0.870538
1072  6040  0.839929
1073  6045  0.895199
1074  6055  0.853759
1075  6065  0.880582
1076  6072  0.887544
1077  6084  0.873682
1078  6085  0.802578
1079  6095  0.819758
1080  6109  0.876632
1081  6117  0.819643
1082  6122  0.859088
1083  6128  0.804232
1084  6133  0.860175
1085  6144  0.825073
1086  6149  0.845264
1087  6166  0.907974
1088  6180  0.846111
1089  6181  0.821116

[1090 rows x 2 columns]

In [182]:
combined_df = pd.DataFrame({'gt_st': scores_st,
                            'gt_lt': scores_lt,
                            'ismail_st': ismail_st,
                            'ismail_lt': ismail_lt,
                            'alison_st': alison_st,
                            'alison_lt': alison_lt,
                            'jorma_st': jorma_st,
                            'jorma_lt': jorma_lt,
                           })

In [184]:
combined_df.head()

,gt_st,gt_lt,ismail_st,ismail_lt,alison_st,alison_lt,jorma_st,jorma_lt
0,0.75,0.57,0.829869,0.779799,0.828981,0.775661,0.823957,0.737312
1,0.87,0.43,0.829948,0.780015,0.828585,0.776517,0.830174,0.779736
2,0.69,0.75,0.829665,0.779347,0.828457,0.774645,0.754513,0.735032
3,0.87,0.57,0.829922,0.779882,0.828381,0.776055,0.795868,0.753985
4,0.84,0.56,0.829948,0.780026,0.829110,0.775538,0.812515,0.742400

In [326]:
combined_df['video_id'] = df_scores['video_id']
combined_df.head()

,gt_st,gt_lt,ismail_st,ismail_lt,alison_st,alison_lt,jorma_st,jorma_lt,video_id
0,0.75,0.57,0.829869,0.779799,0.828981,0.775661,0.823957,0.737312,8
1,0.87,0.43,0.829948,0.780015,0.828585,0.776517,0.830174,0.779736,26
2,0.69,0.75,0.829665,0.779347,0.828457,0.774645,0.754513,0.735032,33
3,0.87,0.57,0.829922,0.779882,0.828381,0.776055,0.795868,0.753985,46
4,0.84,0.56,0.829948,0.780026,0.829110,0.775538,0.812515,0.742400,64

In [72]:
# combined_df.to_csv('me_2020/all_predictions_trainset.csv')
combined_df = pd.read_csv('me_2020/all_predictions_trainset.csv')

In [51]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [74]:
n = 8
ast =  combined_df['alison_st'].round(n)
ist =  combined_df['ismail_st'].round(n)
jst =  combined_df['jorma_st'].round(n)
alt =  combined_df['alison_lt'].round(n)
ilt =  combined_df['ismail_lt'].round(n)
jlt =  combined_df['jorma_lt'].round(n)

,Unnamed: 0,gt_st,gt_lt,ismail_st,ismail_lt,alison_st,alison_lt,jorma_st,jorma_lt,video_id
Unnamed: 0,1.000000,-0.018153,0.050582,0.178238,-0.130942,0.097963,-0.074953,0.101225,0.029880,0.999292
gt_st,-0.018153,1.000000,0.175425,0.196415,0.164939,0.181346,0.164563,0.265874,0.208154,-0.017932
gt_lt,0.050582,0.175425,1.000000,0.124925,0.080175,0.100459,0.081669,0.176748,0.187687,0.050864
ismail_st,0.178238,0.196415,0.124925,1.000000,0.469380,0.371026,0.092414,0.310438,0.323661,0.176410
ismail_lt,-0.130942,0.164939,0.080175,0.469380,1.000000,0.215378,0.414216,0.348257,0.338621,-0.128270
alison_st,0.097963,0.181346,0.100459,0.371026,0.215378,1.000000,0.390110,0.310084,0.249478,0.098228
alison_lt,-0.074953,0.164563,0.081669,0.092414,0.414216,0.390110,1.000000,0.172048,0.198851,-0.067357
jorma_st,0.101225,0.265874,0.176748,0.310438,0.348257,0.310084,0.172048,1.000000,0.668734,0.099026
jorma_lt,0.029880,0.208154,0.187687,0.323661,0.338621,0.249478,0.198851,0.668734,1.000000,0.026183
video_id,0.999292,-0.017932,0.050864,0.176410,-0.128270,0.098228,-0.067357,0.099026,0.026183,1.000000

In [125]:
ast_scaler = MinMaxScaler()
ist_scaler = MinMaxScaler()
jst_scaler = MinMaxScaler()
alt_scaler = MinMaxScaler()
ilt_scaler = MinMaxScaler()
jlt_scaler = MinMaxScaler()

In [126]:
ast = ast_scaler.fit_transform(combined_df['alison_st'].values.reshape(-1, 1))
ist = ist_scaler.fit_transform(combined_df['ismail_st'].values.reshape(-1, 1))
jst = jst_scaler.fit_transform(combined_df['jorma_st'].values.reshape(-1, 1))
alt = alt_scaler.fit_transform(combined_df['alison_lt'].values.reshape(-1, 1))
ilt = ilt_scaler.fit_transform(combined_df['ismail_lt'].values.reshape(-1, 1))
jlt = jlt_scaler.fit_transform(combined_df['jorma_lt'].values.reshape(-1, 1))

In [127]:
increment = 0.01
steps = int(1 / increment)
print("Steps:", steps)

best_combo = None
best_score = 0

for a in tqdm(range(steps+1)):
    for b in range(steps+1 - a):
        c = steps - (a + b)
        al = a / steps
        bl = b / steps
        cl = c / steps
        
        # print(al, bl, cl)
        score = spearman(al * ast + bl * ist + cl * jst, combined_df['gt_st'])
        if score > best_score:
            best_score = score
            best_combo = al, bl, cl
            # print('New best combo', best_combo, ':\t', best_score)
            print('Best combo', best_combo, ':\t', best_score)

Steps: 100

HBox(children=(FloatProgress(value=0.0, max=101.0), HTML(value='')))

Best combo (0.0, 0.0, 1.0) :	 0.2750845878773936
Best combo (0.0, 0.01, 0.99) :	 0.2763279119733419
Best combo (0.0, 0.02, 0.98) :	 0.2777200746105133
Best combo (0.0, 0.03, 0.97) :	 0.2793903189571508
Best combo (0.0, 0.04, 0.96) :	 0.28071831114097084
Best combo (0.0, 0.05, 0.95) :	 0.28194129181297406
Best combo (0.0, 0.06, 0.94) :	 0.28338581403190044
Best combo (0.0, 0.07, 0.93) :	 0.28508690112490953
Best combo (0.0, 0.08, 0.92) :	 0.2858367745319537
Best combo (0.0, 0.09, 0.91) :	 0.28637399378060274
Best combo (0.0, 0.1, 0.9) :	 0.2875367507013969
Best combo (0.0, 0.11, 0.89) :	 0.2894406105800301
Best combo (0.0, 0.12, 0.88) :	 0.29046023376979546
Best combo (0.0, 0.13, 0.87) :	 0.29102575233454653
Best combo (0.0, 0.14, 0.86) :	 0.2926837180522967
Best combo (0.0, 0.15, 0.85) :	 0.2930227543837389
Best combo (0.0, 0.16, 0.84) :	 0.2939182172475894
Best combo (0.0, 0.17, 0.83) :	 0.2948366002186961
Best combo (0.0, 0.18, 0.82) :	 0.2956165270316835
Best combo (0.0, 0.19, 0.81) :	 0.2963811640282232
Best combo (0.0, 0.2, 0.8) :	 0.29728808694570175
Best combo (0.0, 0.21, 0.79) :	 0.29757245414376493
Best combo (0.0, 0.22, 0.78) :	 0.2983237892923433
Best combo (0.0, 0.23, 0.77) :	 0.2986415719018783
Best combo (0.0, 0.24, 0.76) :	 0.29878201602848414
Best combo (0.0, 0.27, 0.73) :	 0.2991376869785855
Best combo (0.0, 0.28, 0.72) :	 0.29941226050836955
Best combo (0.0, 0.29, 0.71) :	 0.2997457714568124
Best combo (0.0, 0.3, 0.7) :	 0.3005401402761577
Best combo (0.0, 0.31, 0.69) :	 0.3014151387585294
Best combo (0.0, 0.32, 0.68) :	 0.3017057329755282
Best combo (0.0, 0.33, 0.67) :	 0.3019221876619124
Best combo (0.0, 0.35, 0.65) :	 0.30220819201049387
Best combo (0.01, 0.3, 0.69) :	 0.3025256238020606
Best combo (0.01, 0.31, 0.68) :	 0.30256105641684955
Best combo (0.01, 0.32, 0.67) :	 0.3032289553586559
Best combo (0.02, 0.29, 0.69) :	 0.30365093090474854
Best combo (0.02, 0.3, 0.68) :	 0.30388179836266
Best combo (0.02, 0.31, 0.67) :	 0.3041514312060584
Best combo (0.02, 0.33, 0.65) :	 0.3043137722208466
Best combo (0.03, 0.28, 0.69) :	 0.3046547088162832
Best combo (0.03, 0.29, 0.68) :	 0.3052365988862173
Best combo (0.03, 0.3, 0.67) :	 0.30555733421365133
Best combo (0.04, 0.29, 0.67) :	 0.3059103740289911
Best combo (0.04, 0.31, 0.65) :	 0.3059779649575325
Best combo (0.04, 0.32, 0.64) :	 0.3065746770866233
Best combo (0.04, 0.33, 0.63) :	 0.306613559411433
Best combo (0.05, 0.29, 0.66) :	 0.3068779884549697
Best combo (0.05, 0.3, 0.65) :	 0.30698987015199725
Best combo (0.05, 0.31, 0.64) :	 0.30744689826008004
Best combo (0.05, 0.32, 0.63) :	 0.3078064574426624
Best combo (0.06, 0.29, 0.65) :	 0.3078192330636713
Best combo (0.06, 0.3, 0.64) :	 0.30809284184404273
Best combo (0.06, 0.31, 0.63) :	 0.3088888185790756
Best combo (0.07, 0.3, 0.63) :	 0.3090776463504635
Best combo (0.07, 0.32, 0.61) :	 0.3095939334603427
Best combo (0.08, 0.3, 0.62) :	 0.3097117205931685
Best combo (0.08, 0.31, 0.61) :	 0.30979688165495084
Best combo (0.09, 0.3, 0.61) :	 0.3100425127023577
Best combo (0.1, 0.3, 0.6) :	 0.3101214759800352
Best combo (0.11, 0.28, 0.61) :	 0.3102619785763024
Best combo (0.11, 0.29, 0.6) :	 0.3104631434462389
Best combo (0.11, 0.3, 0.59) :	 0.31075572563172427
Best combo (0.11, 0.31, 0.58) :	 0.3109575629027665
Best combo (0.12, 0.3, 0.58) :	 0.31104982802840514
Best combo (0.13, 0.27, 0.6) :	 0.31108695626337385
Best combo (0.13, 0.28, 0.59) :	 0.3112099471960613
Best combo (0.13, 0.29, 0.58) :	 0.3112663704192814
Best combo (0.14, 0.26, 0.6) :	 0.3112826542199724
Best combo (0.14, 0.27, 0.59) :	 0.3114698156060113
Best combo (0.15, 0.27, 0.58) :	 0.3116623854357267
Best combo (0.18, 0.28, 0.54) :	 0.3116902462293685

In [128]:
increment = 0.01
steps = int(1 / increment)
print("Steps:", steps)

best_combo = None
best_score = 0

for a in tqdm(range(steps+1)):
    for b in range(steps+1 - a):
        c = steps - (a + b)
        al = a / steps
        bl = b / steps
        cl = c / steps
        
        # print(al, bl, cl)
        score = spearman(al * alt + bl * ilt + cl * jlt, combined_df['gt_lt'])
        if score > best_score:
            best_score = score
            best_combo = al, bl, cl
            # print('New best combo', best_combo, ':\t', best_score)
            print('Best combo', best_combo, ':\t', best_score)

Steps: 100

HBox(children=(FloatProgress(value=0.0, max=101.0), HTML(value='')))

Best combo (0.0, 0.0, 1.0) :	 0.16402776554706433
Best combo (0.0, 0.01, 0.99) :	 0.16437446235122308
Best combo (0.0, 0.02, 0.98) :	 0.16456660898130665
Best combo (0.0, 0.03, 0.97) :	 0.16464781380711577
Best combo (0.0, 0.04, 0.96) :	 0.1649420749924422
Best combo (0.0, 0.05, 0.95) :	 0.16527047211754534
Best combo (0.0, 0.06, 0.94) :	 0.16570400441799185
Best combo (0.0, 0.07, 0.93) :	 0.16624765738326802
Best combo (0.0, 0.08, 0.92) :	 0.16653103847095085
Best combo (0.0, 0.09, 0.91) :	 0.166899818060893
Best combo (0.0, 0.1, 0.9) :	 0.1672761638642908
Best combo (0.0, 0.11, 0.89) :	 0.16803970624232137
Best combo (0.0, 0.12, 0.88) :	 0.16878025671589747
Best combo (0.0, 0.13, 0.87) :	 0.16922314414073297
Best combo (0.0, 0.14, 0.86) :	 0.16975714871753272
Best combo (0.01, 0.13, 0.86) :	 0.16984002514864022
Best combo (0.01, 0.14, 0.85) :	 0.16996768300589812
Best combo (0.01, 0.16, 0.83) :	 0.17002536805189541

0.07825951592626414

In [130]:
increment = 0.01
steps = int(1 / increment)
print("Steps:", steps)

best_combo = None
best_score = 0

for a in tqdm(range(steps+1)):
    for b in range(steps+1 - a):
        c = steps - (a + b)
        al = a / steps
        bl = b / steps
        cl = c / steps
        
        # print(al, bl, cl)
        score = spearman(al * ast + bl * ist + cl * jst, combined_df['gt_lt'])
        if score > best_score:
            best_score = score
            best_combo = al, bl, cl
            # print('New best combo', best_combo, ':\t', best_score)
            print('Best combo', best_combo, ':\t', best_score)

Steps: 100

HBox(children=(FloatProgress(value=0.0, max=101.0), HTML(value='')))

Best combo (0.0, 0.0, 1.0) :	 0.17828660533583537
Best combo (0.0, 0.01, 0.99) :	 0.17915869681156274
Best combo (0.0, 0.02, 0.98) :	 0.17993253275906204
Best combo (0.0, 0.03, 0.97) :	 0.18120535755132205
Best combo (0.0, 0.04, 0.96) :	 0.1817569872997763
Best combo (0.0, 0.05, 0.95) :	 0.1830555606789126
Best combo (0.0, 0.06, 0.94) :	 0.18352921150651944
Best combo (0.0, 0.07, 0.93) :	 0.18450214444297436
Best combo (0.0, 0.08, 0.92) :	 0.18515914397804192
Best combo (0.0, 0.09, 0.91) :	 0.18596846488012014
Best combo (0.0, 0.1, 0.9) :	 0.18686168863761185
Best combo (0.0, 0.11, 0.89) :	 0.18810809033559453
Best combo (0.0, 0.12, 0.88) :	 0.1894265470198585
Best combo (0.0, 0.13, 0.87) :	 0.19017346132413182
Best combo (0.0, 0.14, 0.86) :	 0.19047910115605046
Best combo (0.0, 0.15, 0.85) :	 0.19134942098831398
Best combo (0.0, 0.16, 0.84) :	 0.1917955636445199
Best combo (0.0, 0.17, 0.83) :	 0.19265253996080542
Best combo (0.0, 0.18, 0.82) :	 0.19319267375703245
Best combo (0.0, 0.19, 0.81) :	 0.19343426471225655
Best combo (0.0, 0.2, 0.8) :	 0.1944750296321339
Best combo (0.0, 0.21, 0.79) :	 0.19533922024497014
Best combo (0.0, 0.22, 0.78) :	 0.19621713561709803
Best combo (0.0, 0.23, 0.77) :	 0.19790140992402117
Best combo (0.0, 0.24, 0.76) :	 0.19821001172322286
Best combo (0.0, 0.25, 0.75) :	 0.19871492450254963
Best combo (0.0, 0.26, 0.74) :	 0.19963163871344441
Best combo (0.0, 0.27, 0.73) :	 0.19966735827929327
Best combo (0.0, 0.28, 0.72) :	 0.20043324677002325
Best combo (0.0, 0.29, 0.71) :	 0.20060489424039557
Best combo (0.0, 0.3, 0.7) :	 0.2011986953646221
Best combo (0.0, 0.32, 0.68) :	 0.2013070271185184
Best combo (0.0, 0.33, 0.67) :	 0.20186138422298575
Best combo (0.0, 0.34, 0.66) :	 0.20211051206525682
Best combo (0.0, 0.35, 0.65) :	 0.20285032937861436
Best combo (0.0, 0.36, 0.64) :	 0.20335723635373562
Best combo (0.0, 0.38, 0.62) :	 0.20358032234504297
Best combo (0.0, 0.39, 0.61) :	 0.20393394018166505
Best combo (0.0, 0.41, 0.59) :	 0.2041438879418556
Best combo (0.01, 0.41, 0.58) :	 0.20433914317126592
Best combo (0.02, 0.41, 0.57) :	 0.2043892326773988

# Testset results

In [289]:
df_text_test = pd.read_csv('me_2020/test_text_descriptions.csv', )

In [290]:
df_text_test.head()

,video_id,video_url,description
0,4,https://mtc.cdn.vine.co/r/videos_h264high/9D3F...,people are going downstairs on a stage
1,4,https://mtc.cdn.vine.co/r/videos_h264high/9D3F...,several people walking down a staircase on a s...
2,7,https://mtc.cdn.vine.co/r/videos_h264high/9E23...,a man is scared by a picture of a boy on a mir...
3,7,https://mtc.cdn.vine.co/r/videos_h264high/9E23...,white male taking a selfie in a bathroom mirror
4,15,https://mtc.cdn.vine.co/r/videos_h264high/A20C...,two chinese men speaks and laugh at home

In [292]:
test_text_concat = df_text_test[['video_id','description']].groupby(['video_id'])['description'].transform(lambda x: '  '.join(x)).drop_duplicates()

print(len(test_text_concat))

df_test = pd.DataFrame({"video_id": df_text_test.video_id.unique(),
                        "text": test_text_concat,})
df_test.head()

500

   video_id                                               text
0         4  people are going downstairs on a stage  severa...
2         7  a man is scared by a picture of a boy on a mir...
4        15  two chinese men speaks and laugh at home  in a...
6        41  a dog gets whipped cream into his face indoors...
8        47  a women takes a piece of cloth from a man and ...

In [293]:
len(df_test)

500

In [288]:
len(df_text_test)

1790

In [295]:
X_test_tfidf = []
X_test_w2v   = []

for i, entry in tqdm(df_test.iterrows(), total=len(df_test)):
    text = tokenize(entry['text'])
    
    x_tfidf = vectorizer.transform([text]).toarray()[0]
    words = [word for word in text.split(' ') if word in w2v]
    x_w2v = np.zeros([300]) if not words else np.mean([w2v[word] for word in words], axis=0)
    
    X_test_tfidf.append(x_tfidf)
    X_test_w2v.append(x_w2v)

HBox(children=(FloatProgress(value=0.0, max=500.0), HTML(value='')))

In [304]:
X_train = X['w2v']
y_train = Y_st
svr_model = SVR(C=1e-05, gamma='scale', kernel='linear')
svr_model.fit(X_train, y_train)
ismail_st_test = svr_model.predict(X_test_w2v)

In [305]:
ismail_st_test.shape

(500,)

In [308]:
X_train = X['w2v']
y_train = Y_lt
svr_model_lt = SVR(C=1e-05, gamma='scale', kernel='linear')
svr_model_lt.fit(X_train, y_train)
ismail_lt_test = svr_model_lt.predict(X_test_w2v)

In [309]:
ismail_preds = pd.DataFrame({'video_id': df_text_test.video_id.unique(),
                             'short_term': ismail_st_test,
                             'long_term': ismail_lt_test})

In [310]:
ismail_preds.head()

   video_id  short_term  long_term
0         4    0.829919   0.779846
1         7    0.830095   0.780101
2        15    0.829826   0.779656
3        41    0.830275   0.780135
4        47    0.830024   0.780146

In [48]:
# ismail_preds.to_csv('me_2020/ismail_testset_preds_svr_1e-05_scale_lin.csv')
ismail_preds = pd.read_csv('me_2020/ismail_testset_preds_svr_1e-05_scale_lin.csv')

In [50]:
alison_st_test = pd.read_csv('me_2020/st_test_pred_vilbert.csv', names=['id', 'preds'])['preds'].values[1:]
alison_lt_test = pd.read_csv('me_2020/lt_test_pred_vilbert.csv', names=['id', 'preds'])['preds'].values[1:]
len(alison_st_test), len(alison_lt_test)

(500, 500)

In [329]:
jorma_st_test = jorma_st_df[1].values.tolist()[590:]
jorma_lt_test = jorma_lt_df[1].values.tolist()[590:]

In [102]:
all_test.head()

,Unnamed: 0,video_id,alison_st,alison_lt,ismail_st,ismail_lt,jorma_st,jorma_lt,confidence
0,0,4,0.828293,0.775897,0.829919,0.779846,0.829443,0.750538,1.0
1,1,7,0.829522,0.777468,0.830095,0.780101,0.816488,0.731488,1.0
2,2,15,0.830905,0.782404,0.829826,0.779656,0.812489,0.775952,1.0
3,3,41,0.829813,0.777769,0.830275,0.780135,0.832075,0.774321,1.0
4,4,47,0.828998,0.782688,0.830024,0.780146,0.816765,0.722495,1.0

In [338]:
all_test['confidence'] = 1.

In [339]:
# all_test.to_csv('me_2020/all_predictions_testset.csv')

In [56]:
all_train = pd.read_csv('me_2020/all_predictions_trainset.csv')
all_test = pd.read_csv('me_2020/all_predictions_testset.csv')

In [57]:
all_test.head()

,Unnamed: 0,video_id,alison_st,alison_lt,ismail_st,ismail_lt,jorma_st,jorma_lt,confidence
0,0,4,0.828293,0.775897,0.829919,0.779846,0.829443,0.750538,1.0
1,1,7,0.829522,0.777468,0.830095,0.780101,0.816488,0.731488,1.0
2,2,15,0.830905,0.782404,0.829826,0.779656,0.812489,0.775952,1.0
3,3,41,0.829813,0.777769,0.830275,0.780135,0.832075,0.774321,1.0
4,4,47,0.828998,0.782688,0.830024,0.780146,0.816765,0.722495,1.0

In [58]:
all_test[['alison_st', 'ismail_st', 'jorma_st']].describe()

        alison_st   ismail_st    jorma_st
count  500.000000  500.000000  500.000000
mean     0.829356    0.829968    0.836334
std      0.001511    0.000196    0.038389
min      0.825885    0.829234    0.676143
25%      0.828123    0.829872    0.813927
50%      0.829482    0.829980    0.839500
75%      0.830617    0.830091    0.862124
max      0.832782    0.830522    0.948258

In [91]:
x = jlt_scaler.transform(all_test['jorma_st'].values.reshape(-1, 1)).reshape(500,)
x.shape

(500,)

In [123]:
all_test['alison_st'].values[:10]

array([0.82829345, 0.82952207, 0.83090526, 0.82981295, 0.82899799,
       0.82786299, 0.82796961, 0.82849147, 0.8295096 , 0.82921436])

In [124]:
ast_scaler.transform(all_test['alison_st'].values.reshape(-1, 1)).reshape(500,)[:10]

array([-0.85288662,  0.08311114,  1.13687325,  0.30471364, -0.31614122,
       -1.18082536, -1.09959335, -0.7020289 ,  0.07361582, -0.15130871])

In [131]:
all_test_std = pd.DataFrame({'video_id': all_test['video_id'].values,
                             'alison_st': ast_scaler.transform(all_test['alison_st'].values.reshape(-1, 1)).reshape(500,),
                             'alison_lt': alt_scaler.transform(all_test['alison_lt'].values.reshape(-1, 1)).reshape(500,),
                             'ismail_st': ist_scaler.transform(all_test['ismail_st'].values.reshape(-1, 1)).reshape(500,),
                             'ismail_lt': ilt_scaler.transform(all_test['ismail_lt'].values.reshape(-1, 1)).reshape(500,),
                             'jorma_st': jst_scaler.transform(all_test['jorma_st'].values.reshape(-1, 1)).reshape(500,),
                             'jorma_lt': jlt_scaler.transform(all_test['jorma_lt'].values.reshape(-1, 1)).reshape(500,),
                            })

In [132]:
all_test_std.head(20)

    video_id  alison_st  alison_lt  ismail_st  ismail_lt  jorma_st  jorma_lt
0          4   0.383458   0.272435   0.409486   0.537078  0.593201  0.397143
1          7   0.563437   0.371407   0.559014   0.707226  0.543162  0.325171
2         15   0.766060   0.682299   0.329921   0.410464  0.527715  0.493156
3         41   0.606048   0.390359   0.712060   0.730097  0.603371  0.486996
4         47   0.486667   0.700191   0.498399   0.737386  0.544231  0.291194
5         63   0.320400   0.184297   0.282404   0.504865  0.556138  0.480600
6         67   0.336020   0.298659   0.498977   0.558013  0.716893  0.602573
7         84   0.412466   0.493821   0.538602   0.729125  0.533280  0.441799
8         89   0.561611   0.320613   0.464004   0.708996  0.724692  0.488793
9        100   0.518362   0.304305   0.326833   0.507233  0.741910  0.628844
10       113   0.375017   0.217106   0.383733   0.532705  0.598702  0.485087
11       129   0.409975   0.328584   0.028591   0.098345  0.389277  0.221196
12       145   0.397968   0.492045   0.115998   0.153212  0.438878  0.534095
13       175   0.714881   0.547782   0.356690   0.664961  0.462112  0.646325
14       194   0.216223   0.311710   0.184258   0.264277  0.388842  0.218376
15       197   0.772897   0.655313   0.270123   0.555440  0.284009  0.359792
16       219   0.062357   0.404143   0.252412   0.316337  0.712277  0.572944
17       229   0.572394   0.285016   0.572614   0.852329  0.678112  0.494396
18       236   0.706780   0.584525   0.629149   0.708375  0.632147  0.434315
19       239   0.803565   0.522625   0.634258   0.720633  0.707140  0.489067

In [133]:
all_test_std[['alison_st', 'alison_lt', 'ismail_st', 'ismail_lt', 'jorma_st', 'jorma_lt']].describe()

        alison_st   alison_lt   ismail_st   ismail_lt    jorma_st    jorma_lt
count  500.000000  500.000000  500.000000  500.000000  500.000000  500.000000
mean     0.539118    0.517795    0.451211    0.568938    0.619819    0.482320
std      0.221405    0.194048    0.166582    0.160481    0.148281    0.153383
min      0.030583    0.169402   -0.173420   -0.076967    0.001066   -0.051344
25%      0.358507    0.370680    0.369494    0.512454    0.533270    0.382342
50%      0.557606    0.487380    0.461313    0.601920    0.632050    0.482947
75%      0.723819    0.653656    0.555243    0.667008    0.719435    0.590275
max      1.040987    1.048169    0.922267    0.924241    1.052138    0.939776

In [134]:
new_df_train = pd.DataFrame({'alison_st': ast.reshape(590,), 
                             'alison_lt': alt.reshape(590,), 
                             'ismail_st': ist.reshape(590,), 
                             'ismail_lt': ilt.reshape(590,), 
                             'jorma_st': jst.reshape(590,), 
                             'jorma_lt': jlt.reshape(590,)}, index=range(590))

In [135]:
new_df_train.describe()

        alison_st   alison_lt   ismail_st   ismail_lt    jorma_st    jorma_lt
count  590.000000  590.000000  590.000000  590.000000  590.000000  590.000000
mean     0.547456    0.467092    0.494136    0.584043    0.614335    0.465426
std      0.192449    0.198578    0.164735    0.142067    0.146560    0.145031
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.410402    0.310987    0.395368    0.517451    0.527969    0.370498
50%      0.551185    0.441225    0.484876    0.598110    0.619112    0.463390
75%      0.692146    0.612593    0.594960    0.668851    0.718559    0.566693
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [136]:
new_df_train.head()

   alison_st  alison_lt  ismail_st  ismail_lt  jorma_st  jorma_lt
0   0.484128   0.257557   0.366443   0.505485  0.572011  0.347173
1   0.426101   0.311470   0.433440   0.649638  0.596026  0.507453
2   0.407488   0.193549   0.193398   0.204572  0.303779  0.338558
3   0.396339   0.282407   0.411729   0.561456  0.463517  0.410164
4   0.503129   0.249826   0.433398   0.656860  0.527815  0.366396

In [137]:
all_test_std.head()

   video_id  alison_st  alison_lt  ismail_st  ismail_lt  jorma_st  jorma_lt
0         4   0.383458   0.272435   0.409486   0.537078  0.593201  0.397143
1         7   0.563437   0.371407   0.559014   0.707226  0.543162  0.325171
2        15   0.766060   0.682299   0.329921   0.410464  0.527715  0.493156
3        41   0.606048   0.390359   0.712060   0.730097  0.603371  0.486996
4        47   0.486667   0.700191   0.498399   0.737386  0.544231  0.291194

In [173]:
all_test['run_1_st'] = all_test['jorma_st']
all_test[['video_id', 'run_1_st', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_shorterm_run1-audiovisual.csv', header=False,index=False)
all_test['run_1_lt'] = all_test['jorma_st']
all_test[['video_id', 'run_1_lt', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_longterm_run1-audiovisual.csv', header=False,index=False)

In [174]:
all_test['run_2_st'] = all_test['alison_st']
all_test[['video_id', 'run_2_st', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_shorterm_run2-vilbert.csv', header=False,index=False)
all_test['run_2_lt'] = all_test['alison_st']
all_test[['video_id', 'run_2_lt', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_longterm_run2-vilbert.csv', header=False,index=False)

In [175]:
all_test['run_3_st'] = all_test['ismail_st']
all_test[['video_id', 'run_3_st', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_shorterm_run3-text.csv', header=False,index=False)
all_test['run_3_lt'] = all_test['ismail_st']
all_test[['video_id', 'run_3_lt', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_longterm_run3-text.csv', header=False,index=False)

In [176]:
all_test['run_4_st'] = 0.15 * all_test['alison_st'] + 0.3 * all_test['ismail_st'] + 0.55 * all_test['jorma_st']
all_test[['video_id', 'run_4_st', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_shorterm_run4-all-SLT.csv', header=False,index=False)
all_test['run_4_lt'] = 0.0 * all_test['alison_st'] + 0.4 * all_test['ismail_st'] + 0.6 * all_test['jorma_st']
all_test[['video_id', 'run_4_lt', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_longterm_run4-all-SLT.csv', header=False,index=False)

In [178]:
all_test['run_5_st'] = 0.15 * all_test['alison_st'] + 0.3 * all_test['ismail_st'] + 0.55 * all_test['jorma_st']
all_test[['video_id', 'run_5_st', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_shorterm_run5-all.csv', header=False,index=False)
all_test['run_5_lt'] = 0.0 * all_test['alison_lt'] + 0.15 * all_test['ismail_lt'] + 0.85 * all_test['jorma_lt']
all_test[['video_id', 'run_5_lt', 'confidence']].to_csv('me_2020/submissions/me20mem_memad_longterm_run5-all.csv', header=False,index=False)

In [170]:
spearman(0.0 * ast + 0.4 * ist + 0.6 * jst, combined_df['gt_lt'])

0.20383164966796977